<!-- Put your custom head here, any external css/js -->
<style>
    :root { --content-width: 48rem; }           /* 调整正文最大宽度 */
    @media (min-width: 1280px) { :root { --content-width: 48rem; } }  /* 可选：更大屏时再放宽 */
    /* 可选：减少两侧留白 */
    /* :root { --page-gutter: 24px; } */
  </style>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+SC:wght@200..900&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+SC:wght@200..900&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
  <style>
  :root {
      /* 中文宋体优先，跨平台回退 */
      --font-sans: "LXGW WenKai Mono TC", "ZCOOL XiaoWei", "Songti SC", "SimSun", "NSimSun", "Noto Serif SC", serif;
      /* 代码字体 */
      --font-mono: "Berkeley Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  </style>

